.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.container {
    width: 960px;
    padding: 20px;
    margin: auto;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.container img {
    max-width: 100%;
}

@media (max-width: 1000px) {
    .container {
        width: auto;
    }
}